.ControlRow {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.IframeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.Headline {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    letter-spacing: 0.5px;
    align-items: center;
    text-align: center;
}

.Text {
    width: 260px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    letter-spacing: 0.5px;
}

.InputSlider {
    flex: 1;
    margin: 0 20px;
    accent-color: #0077cc;
    cursor: pointer;
}

.InputBox {
    width: 200px;
    padding: 6px;
    border: 1px solid #aaa;
    border-radius: 6px;
    font-size: 16px;
    text-align: center;
    background-color: #f8f8f8;
    transition: border-color 0.2s, box-shadow 0.2s;
}

.InputBox:focus {
    border-color: #0077cc;
    box-shadow: 0 0 4px rgba(0, 119, 204, 0.5);
    outline: none;
}

.InputCheckbox {
    width: 18px;
    height: 18px;
    accent-color: #0077cc;
    cursor: pointer;
    margin-left: auto;
}

.Button{
    width: 10%;
    height: 20%; 
    background-color: rgb(1, 155, 215); 
    color: #3c3c3c; 
    accent-color: rgba(0, 23, 128, 0.468);
    box-shadow: 0 0 4px rgba(0, 119, 204, 0.5);
    border-radius: 6px; 
    font-size: 16px; 
    font-family: Arial, Helvetica, sans-serif; 
}
